.right {
  background-image: url("../../assets/illus_login.png");
  background-position: center;
  background-size: cover;
  width: 35vw;
}

.cmo {
  font-size: smaller;
  color: #b6f09c;
}

.btn:hover {
  background-color: #21ffdacc;
  color: #fff;
  transition: all 0.5s ease-in;
}
